<nav class="navbar navbar-expand-lg" style="background-color: #282936;">
    <a class="navbar-brand" style="color: #59bbce; font-size: 28px;" routerLink="/categoria">PROYECTO USHER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: #59bbce; font-size: 15px;" routerLink="/estadisticas" routerLinkActive="active">ESTADISTICAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #59bbce; font-size: 15px;" routerLink="/network" routerLinkActive="active">NETWORK</a>
      </li>
    </ul>
</nav>
  