body{
    background-color: #282936;
}

th{
    color: white;
}

td{
    color: white;
}

h2{
    color: #59bbce;
}

.responses-title{
    text-align: center;
    color: #59bbce;
}

h4{
    color: white;
}